{:absence-maternity-leave "Licença de maternidade", :absence-unjustified "Falta injustificada", :absence-paternity-leave "Licença de paternidade", :absence-vacations "Férias", :absence-justified "Falta justificada", :absence-death-license "Dia de nojo (falecimento)", :absence-family "Falta para assistência à família", :absence-medical "Baixa médica", :absence-marriage-license "Licença de casamento", :absence-education "Falta para exame escolar/equivalente"}